[project]
	description = a tetrahedral mesh improvement program
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bryan Klingner (bryanklingner)
[access "refs/for/refs/*"]
	read = group user/Bryan Klingner (bryanklingner)
	push = group user/Bryan Klingner (bryanklingner)
	label-Code-Review = -2..+2 group user/Bryan Klingner (bryanklingner)
	label-Verified = -1..+1 group user/Bryan Klingner (bryanklingner)
	rebase = group user/Bryan Klingner (bryanklingner)
	removeReviewer = group user/Bryan Klingner (bryanklingner)
	submit = group user/Bryan Klingner (bryanklingner)
[access "refs/heads/*"]
	read = group user/Bryan Klingner (bryanklingner)
	create = group user/Bryan Klingner (bryanklingner)
	push = +force group user/Bryan Klingner (bryanklingner)
	pushMerge = group user/Bryan Klingner (bryanklingner)
[access "refs/tags/*"]
	push = +force group user/Bryan Klingner (bryanklingner)
	pushTag = group user/Bryan Klingner (bryanklingner)
	pushSignedTag = group user/Bryan Klingner (bryanklingner)
